.organization-chart-container {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.organization-chart {
    min-width: 360px;
    max-width: 100%;
    margin: 1em auto;

    & h4 {
        text-transform: none;
        font-size: 14px;
        font-weight: normal;
    }

    & p {
        font-size: 13px;
        line-height: 16px;
    }
}

.organization-chart-description {
    margin: 0.3rem 10px;
    font-size: 13px;
    line-height: 1.5;
    color: var(--filament-text-color, inherit);
}

@media screen and (max-width: 600px) {
    .organization-chart {
        & h4 {
            font-size: 2.3vw;
            line-height: 3vw;
        }

        & p {
            font-size: 2.3vw;
            line-height: 3vw;
        }
    }
}

